<form action="">
    <div class="content" [class.focussed]="focussed">
        <textarea type="textarea" (keydown)="onKeyDown($event)" (focus)="focussed = true" (blur)="focussed = false" placeholder="Nachricht an #DevSpace" [formControl]="messageInput"></textarea>
        <div class="btn-area">
            <div class="icons">
                <span class="material-icons-round btn">sentiment_satisfied_alt</span>
                <span class="material-icons btn">alternate_email</span>
            </div>
            <span (click)="onSubmit()" class="material-icons send-btn btn" [class.newPost-inactive-submit-btn]="formIsInvalid">send</span>
        </div>
    </div>
</form>

