//! Mixin reference
// @mixin dflex($dir: row, $jC: space-between, $aI: center, $gap: 0px) {
//   display: flex; 
//   flex-direction: $dir;
//   justify-content: $jC;
//   align-items: $aI;
//   gap: $gap
// }
//! Mixin reference
@import '../../../styles/mixins.scss';
// @import '../../../assets/fonts/nunito-v26-latin-700.woff2';

*{
  box-sizing: border-box;
}
$login-header-c: #444df2;

/************************* Login Container *************************/
.login-container{
  @include loginSignupWindow($width : 500px);
  @include dflex($dir: column,  $aI: center, $jC: top);
}

.login-header{
  @include dflex(column);
  header{
    margin: 0;
    line-height: 1;
    color: $login-header-c;
    font-size: 46px;
    font-weight: 600
    ;
  }
  p{
    text-align: center;
  }
}

.login-form{
  padding-top: 24px;
  @include dflex($dir: column, $jC: space-around, $aI: flex-start, $gap: 32px);
  box-sizing: border-box;
  width: 100%;
  // border: solid orange 1px; 
}

/************************* Input fields *************************/
.input-box{
  width: 100%;
  // border: solid red;
  position: relative;
}

.input-styling{
  width: 100%;
  height: 50px;
  border-radius: 100px;
  background-color: #ECEEFE;
  border: none;
  padding-left: 80px;
}

.input-styling:focus{
  outline:none
}

/************************* Input Placeholder *************************/
input::placeholder {
  text-align: left;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 500;
}

/************************* Input fields imgs *************************/
.input-icon{
  width: 24px;
}

.place-input-img{
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}
/**************************************************/

.forgot-pw{
  align-self: center;
  font-size: 18px;
  font-weight: 500;
  color: #797EF3;
}

.or-wrapper{
  @include dflex();
  width: 100%;
}

.or{
  padding: 0 12px 0 12px;
}

.stroke-lightblue{
  width: 100%;
  border-bottom: solid  1px ;
  padding-top: 8px;
  border-color: #ADB0D9;
}

/************************* Dynamic Classes *************************/
.dflex-google{
  @include dflex($jC: center, $gap: 16px);
  border: solid orange 1px; 
}

.no-padding-left{
  padding-left:0
}

/************************* Responsivness *************************/
@media (max-height: 800px) {
  .login-wrapper {
    width: 400px;
    aspect-ratio: 1 / 1.3;
    max-height: 70%;
    max-height: 500px; 
  }
}