<main class="login-container fade-in" [class.fade-in-visible]="makeVisible">
  <section class="login-header">
    <header>Anmeldung</header>
    <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
  </section>

  <form class="login-form" (ngSubmit)="onSubmit(emailInput, password, loginForm)" #loginForm="ngForm">

    <!------------------------- EMAIL ------------------------->
    <section class="input-box">

      <input id="email-input" class="input-styling" type="email" placeholder="Email" name="email" 
        #emailInput autocomplete="off" ngModel required />
      <img class="place-input-img" src="../../../assets/icons/mail.png" alt="">

      <div id="email-error-msg" class="user-warning-msg"
        [class.d-none]="!this.validation.elementVisibility.emailErrorVisible">{{validation.emailWarningMsg}}
      </div>

    </section>

    <!------------------------- PASSWORD ------------------------->
    <section class="input-box">

      <input class="input-styling" type="password" placeholder="Password" name="password" #password ngModel required />
      <img class="place-input-img" src="../../../assets/icons/lock.png" alt="">

      <div id="email-error-msg" class="user-warning-msg"
      [class.d-none]="!this.validation.elementVisibility.passwordErrorVisible">{{validation.passwordWarningMsg}}
    </div>

    </section>

    <div class="forgot-pw">Passwort vergessen?</div>

    <section class="or-wrapper">
      <span class="stroke-lightblue"></span>
      <span class="or">ODER</span>
      <span class="stroke-lightblue"></span>
    </section>

    <section class="input-styling dflex-google no-padding-left">
      <div class="google-icon-wrapper dflex-google">
        <img src="../../../assets/icons/google.png" alt="">
        <div class="login-w-google">Anmelden mit Google</div>
      </div>
    </section>

    <section class="login-btns-wrapper">

      <button class="login-btn" type="submit" [class.inactive-login-btn]="loginForm.invalid" >
        Log In
      </button>

      <button class="guest-login-btn">Gast Login</button>

    </section>

  </form>

</main>