<main class="login-container">
  
  <section class="login-header">
    <header>Anmeldung</header>
    <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
  </section>

  <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <section class="input-box">
      <input class="input-styling" type="text" placeholder="beispielname@email.com" formControlName="email" />
      <img class="place-input-img" src="../../../assets/icons/mail.png" alt="">
    </section>

    <section class="input-box">
      <input class="input-styling" type="password" placeholder="Passwort" formControlName="password" />
      <img class="place-input-img" src="../../../assets/icons/lock.png" alt="">
    </section>

    <div class="forgot-pw">Passwort vergessen?</div>

    <section class="or-wrapper">
      <span class="stroke-lightblue"></span>
      <span class="or">ODER</span>
      <span class="stroke-lightblue"></span>
    </section>

    <section>
      <button class="mt-3" type="submit">Log In</button>
    </section>
  
  </form>

</main>