@import '../../../styles/mixins.scss';
@import '../../auth/auth-animation/auth-animation.component.scss';
@import '../../../styles/animations.scss';
@import '../../auth/auth/auth.component.scss';

* {
  box-sizing: border-box;
}

$login-header-c: #444df2;


/************************* Login Container *************************/
.login-container {
  @include loginSignupWindow($width : 500px, $padding: 30px);
  @include dflex($fD: column, $aI: center, $jC: center);
}

.login-header {
  @include dflex(column);
  header {
    margin: 0;
    line-height: 1;
    color: $login-header-c;
    font-size: 46px;
    font-weight: 600;
  }

  p {
    text-align: center;
  }
}

.login-form {
  padding-top: 24px;
  @include dflex($fD: column, $jC: space-around, $aI: flex-start, $gap: 32px);
  box-sizing: border-box;
  width: 100%;
}

.intro-logo-mobile{
  display:none;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 24px;
  margin-top: 100px;

  .da-bubble-txt{
    align-self: center;
  }

  .intro-text__color{
    color:black;
    font-weight: 700;
  }
}


.create-account-mobile{
  @include roundBtn(165px, 39px, 25px, #ECEEFE, #444DF2, 18px, 700);
  border: solid #444DF2 1px;
  cursor: pointer;
  display: none;
  position: static;
  margin: 0 auto;
  margin-bottom: 20px;
}

.new-at-dabubble-mobile{
  display: none;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 20px 0
}

/*************************  fields *************************/
#login-pw-icon{
  cursor: pointer;
}

/************************* Post input fields *************************/
.forgot-pw {
  align-self: center;
  font-size: 18px;
  font-weight: 500;
  color: #797EF3;
}

.or-wrapper {
  @include dflex();
  width: 100%;
}

.or {
  padding: 0 12px 0 12px;
}

.stroke-lightblue {
  width: 100%;
  border-bottom: solid 1px;
  padding-top: 8px;
  border-color: #ADB0D9;
}

/************************* Submit Btns *************************/
.google-icon-wrapper{
  cursor: pointer;
}

.login-w-google{
  color: #444DF2;
  font-size: 18px;
  font-weight: 400;
}

.login-btns-wrapper {
  width: 100%;
  @include dflex($jC: center, $gap: 30px);

  button {
    @include removeBtnStyles();
  }

  .login-btn {
    @include roundBtn(137px, 50px, 25px, #444DF2, white, 18px, 700)
  }

  .inactive-login-btn{
    background-color: #7A7A7A;
    cursor: not-allowed;
  }

  .guest-login-btn {
    @include roundBtn(153px, 50px, 25px, white, #444DF2, 18px, 700);
    border: solid #444DF2 1px;
  }
}

/************************* Impressum Datapolicy *************************/
.impressum-datap-wrapper{
  @include dflex($jC: center, $gap: 48px);
  padding-top: 40px;
  font-size: 18px;
  color: #444DF2;
  
  span{
    cursor: pointer;
  }
}

/************************* Dynamic Classes *************************/
.dflex-google {
  @include dflex($jC: center, $gap: 16px);
  position:relative;
}

.no-padding-left {
  padding-left: 0
}

/************************* Responsivness *************************/
@media (width <= 768px){
  .login-container{
    height: fit-content;
    width: 400px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 40px;

    position: static; // oder andere Positionierung
    transform: none;
    top: auto;
    left: auto;
  }

  .login-form{
    gap: 28px;
    padding-top: 0;
  }

  .login-header{
    header{
      font-size: 32px;
      font-weight: 700px;
      margin: 0;
      width: fit-content;
    };
    padding-bottom: 5px;

    p{
      font-size: 17px;
    }
  }

  .login-w-google{
    font-size: 17;
  }

  .intro-logo-mobile{
    display:flex;
    gap: 16px;

  }

  .create-account-mobile{
    display: block;
  }
  
  .new-at-dabubble-mobile{
    display: block;
  }
  
}

@media (width <= 470px){
  .login-container{
    width: 350px;
  }
}

@media (width <= 370px){
  .login-container{
    width: 300px;
  }
}