

    <section class="site-wrapper max-width-wrapper">
      <div class="new-at-dabubble d-none" [ngClass]="{'fade-in-visible show-login' : trueAfter2500ms}">Neu bei DABubble?
      </div>
      <div class="create-account d-none" [routerLink]="'signup'"
        [ngClass]="{'fade-in-visible show-login' : trueAfter2500ms}">Konto erstellen</div>

      <section class="intro-overlay" [ngClass]="{'bg-login' : trueAfter2500ms}">
        <div class="intro-logo whole-animation">
          <img class="logo-da-bubble" [ngClass]="{'width-50px' : trueAfter2500ms}" src="assets/images/auth/logo.png"
            alt="logo">
          <div class="background-layer hide-background"></div>
          <span class="intro-text text-animation" [ngClass]="{'color-black font-16px': trueAfter2500ms}">DABubble</span>
        </div>
      </section>
    </section>
