$input-height: 50px;

.search-content {
    position: relative;
    max-width: 600px;
}

input {
    height: $input-height;
    width: 100%;
    border: unset;
    border-radius: 50px;
    text-indent: 24px;
    font-size: 18px;
    background-image: url('/assets/icons/search-icon.png');
    background-position: right 16px center;
    background-size: 40px;
    background-repeat: no-repeat;

    &:focus-visible {
        outline: unset;
    }
}

;

.result-lists {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: $input-height;
    border: 1px solid grey;
    border-radius: 25px;
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
    background-color: white;
    z-index: 2;
    padding: 12px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.placeholder {
    color: grey;
}

.result-entry {
    cursor: pointer;
}