<div class="search-content">
    <input placeholder="Devspace durchsuchen" class="flex-item" type="text" [(ngModel)]="searchTerm" #searchBar
        (input)="searchTerms$.next(searchTerm)" (focus)="showResultLists = true" (blur)="hideResultsWithDelay()">

    @if (showResultLists) {
    <div class="result-lists">
        <span class="placeholder">Suche mit '&#64;' nach Leuten und mit '#' nach einem Channel.</span>
        <div class="channel-results">
            <h4>Channels</h4>
            <span class="placeholder" [hidden]="matchingChannels.length > 0">keine Ergebnisse</span>
            <div class="list">
                @for (channel of matchingChannels; track $index) {
                    <span class="result-entry" [routerLink]="'clhannel/' + channel">{{ channel }}</span>
                }
            </div>
        </div>
        <div class="user-results">
            <h4>Mitglieder</h4>
            <span class="placeholder">keine Ergebnisse</span>
            <div class="list"></div>
        </div>
    </div>
    }
</div>