<div class="search-content">
    <div class="input-wrapper">
        <input placeholder="Devspace durchsuchen" class="flex-item" type="text" [(ngModel)]="searchTerm" #searchBar
            (input)="searchTerms$.next(searchTerm)" (focus)="showResultLists = true" (blur)="hideResultsWithDelay()">
        <span class="search-icon material-icons-outlined">search</span>
    </div>
    @if (showResultLists) {
    <div class="result-lists">
        <span class="placeholder">Suche mit '&#64;' nach Leuten und mit '#' nach einem Channel.</span>
        @if (this.searchScope.includes('channels')) {
        <div class="channel-results">
            <h4>Channels</h4>
            <span class="placeholder" [hidden]="matchingChannels.length > 0">keine Ergebnisse</span>
            <div class="list">
                @for (channel of matchingChannels; track $index) {
                <span class="result-entry" (click)="handleChannelClick(channel)">{{ channel }}</span>
                }
            </div>
        </div>
        }
        @if (this.searchScope.includes('users')) {
        <div class="user-results">
            <h4>Mitglieder</h4>
            <span class="placeholder" [hidden]="matchingUsers.length > 0">keine Ergebnisse</span>
            <div class="list">
                @for (user of matchingUsers; track $index) {
                <span class="result-entry" (click)="setChatParticipant(user.email)">{{ user.username }}</span>
                }
            </div>
        </div>
        }
    </div>
    }
</div>