$input-height: 50px;


.search-content {
    position: relative;
    max-width: 600px;
}

.input-wrapper {
    box-sizing: border-box;
    padding: 0px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $input-height;
    width: 100%;
    border: 1px solid grey;
    border-radius: 50px;
    font-size: 18px;
    background-color: white;
    

    &:focus-visible {
        outline: unset;
    }
}

.prefix {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5)
}

input {
    font-size: 18px;
    background-color: unset;
    outline: unset;
    border: unset;
    height: 100%;
    width: 100%;
    text-indent: 12px;
    vertical-align: baseline;
}

input::placeholder {
    font-size: 18px;
}

.search-icon {
    font-size: 40px;
    display: block;
    color: grey;
    align-self: center;
}

.result-lists {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: $input-height;
    border: 1px solid grey;
    border-radius: 25px;
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
    background-color: white;
    z-index: 2;
    padding: 12px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.placeholder {
    color: grey;
}

.result-entry {
    cursor: pointer;
}