@import '../../styles/mixins.scss';

#intro-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(119, 124, 243, 1) 30%, rgba(62, 70, 232, 1) 100%);
  @include dflex($jC: center);

}


.intro-logo {
  @include dflex();
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  gap: 8px;
}
span {
  // display: none;
}

.logo-da-bubble {
  width: 6vw;
  background-color: #6369EF;
}


/************************* Keyframes & Animations *************************/

@keyframes wholeAnimation {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  30% {
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  
  60% {
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    
  }

  100% {
    top: 50px;
    left: 50px;
    transform: translate(0, 0); 
  }
}

.whole-animation{
  animation-name: wholeAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


