<section class="main">
    <section id="intro-overlay" [ngStyle]="{'background' : setBackground}">
        <div class="intro-logo whole-animation">
            <img class="logo-da-bubble" [ngStyle]="{'width' : setSize}"  src="assets/images/auth/logo.png" alt="logo">
            <div class="background-layer hide-background"></div>
            <span [ngStyle] = "{'color' : setColor, 'font-size': setFontSize}"   class="intro-text text-animation">DABubble</span>
        </div>
    </section>
</section>

