@import '../../styles/mixins.scss';


// TODO Think about how to hide the text behind the picture. 
// TODO Think about implementing @mixins for repeating code 
#intro-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(119, 124, 243, 1) 30%, rgba(62, 70, 232, 1) 100%);
  @include dflex($jC: center);
}



.intro-logo {
  @include dflex();
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  gap: 8px;
}


.intro-text {
  z-index: 1;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%); 
  color: white;
  // display: none;
}

.logo-da-bubble {
  z-index: 999;
  width: 6vw;
  opacity: 1;
  background-color: #6369EF;
}


/************************* Keyframes & Animations *************************/

@keyframes wholeAnimation {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  20% {
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  
  70% {
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  
  100% {
    top: 50px;
    left: 50px;
    transform: translate(0, 0); 
  }
}

.whole-animation{
  animation-name: wholeAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes textAnimation {
  0%{
    top: 50%; 
    left: 0%;
    visibility: hidden;
  }
  20%{
    top: 50%; 
    left: 0%;
    visibility: hidden;
  }

  40% {
    top: 50%;
    left: 100%;
  }
}

.text-animation{
  animation-name: textAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


