@import '../../styles/mixins.scss';


// TODO Think about how to hide the text behind the picture. 
.intro-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  
  background: linear-gradient(180deg, rgba(119, 124, 243, 1) 30%, rgba(62, 70, 232, 1) 100%);
  @include dflex($jC: center);
}

.intro-logo {
  @include dflex();
  @include centerAbsoulteElement();
}

.intro-text {
  z-index: 1;
  font-size: 24px  ;
  width: max-content;
  @include placeAbsoluteElement($top: 50%, $left: 110%);
  transform: translateY(-50%); 
  color: white;
}

.logo-da-bubble {
  z-index: 3;
  width: 75px;
  opacity: 1;
}

.background-layer {
  position: absolute;
  z-index: 2;
  top: 0; 
  bottom: 0;
  width: 100%;
  height: 100%;  
  background-color: #6369EF;
}

.black-color {
  color: black;
}



/************************* Keyframes & Animations *************************/
@keyframes wholeAnimation {
  0% {
    @include centerAbsoulteElement()
  }
  
  20% {
    @include placeAbsoluteElement($top: 50%, $left: 45%);
    transform: translate(-50%, -50%);
  }
  
  70% {
    @include placeAbsoluteElement($top: 50%, $left: 45%);
    transform: translate(-50%, -50%);
  }
  
  100% {
    @include placeAbsoluteElement($top: 40px, $left: 40px);
    transform: translate(0, 0); 
  }
}

.whole-animation{
  animation-name: wholeAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes textAnimation {
  0%{
    @include placeAbsoluteElement($top: 50%, $left: 0%);
    visibility: hidden;
  }
  
  20%{
    @include placeAbsoluteElement($top: 50%, $left: 0%);
    visibility: hidden;
  }

  40% {
    @include placeAbsoluteElement($top: 50%, $left: 100%);
  }
}

.text-animation{
  animation-name: textAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes hideBackgroundLayer {
  30% {
    visibility: hidden;
  }

  100%{
    visibility: hidden;
  }
}

.hide-background{
  animation-name: hideBackgroundLayer;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

/************************* Dynamic classes *************************/

.color-black{
  color: black;
}

.font-16px {
  font-size: 16px;
}

.width-50px {
  width: 50px;
}

.bg-login {
  background:#eceefe ;
}