  @import '../../../styles/mixins.scss';

/***************************** Main Styles *****************************/


h3 {
  user-select: none;
  cursor: pointer;
}


.header {
  @include dflex();
  margin-bottom: 40px;

  .workspace-logo {
    max-height: 40px;
  }

  .icon {
    cursor: pointer;
    height: 24px;
  }
}

.channels, .direct-msg {
  position: relative;
  padding-left: 32px;
  margin-bottom: 40px;

  .title {
    display: flex;
    align-items: center;

    .drop-btn {
      user-select: none;
      position: absolute;
      left: 0px;
      cursor: pointer;
    }
  }

  .entry {
    font-size: 18px;
    margin-bottom: 8px;
  }

  span {
    display: inline-block;
    width: 40px;
    text-align: center;
  }
}

/******************************** animations ********************************/

.turnUpDropBtn {
  animation: rotateLeft 150ms forwards;

  @keyframes rotateLeft {
    to {
      transform: rotate(-90deg);
    }
  }
}

.turnDownDropBtn {
  animation: rotateRight 500ms forwards;

  @keyframes rotateRight {
    from {
      transform: rotate(-90deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}
