<div class="card">
    <section class="header">
        <img class="wrkspace-logo" src="assets/icons/Devspace_logo.png" alt="devSpaceLogo"><h2>Workspace</h2><img type="icon" class="icon" src="assets/icons/edit_square.png" alt="editSquareIcon">
    </section>
    <section class="channels">
        <h3 class="title"><span class="material-icons-outlined">workspaces</span>Channels</h3>
        <div class="entries"></div>
    </section>
    <section class="direct-msg">
        <h3 class="title">Direct Messages</h3>
        <div class="entries"></div>
    </section>

</div>