<div class="card">
    <section class="fixed-header header">
        <img class="workspace-logo" src="assets/icons/Devspace_logo.png" alt="devSpaceLogo">
        <h2>DevSpace</h2><img (click)="viewService.wsNavigate('workspace/new-post')" type="icon" class="icon"
            src="assets/icons/edit_square.png" alt="editSquareIcon">
    </section>
    <section class="channels">
        <h3 class="title">
            <div class="left" (click)="toggleEntries('channels')">
                <span class="material-icons drop-btn" [ngClass]="{
                    'turnUpDropBtn': !showChannelEntries && channelToggleClicked,
                    'turnDownDropBtn': showChannelEntries && channelToggleClicked
                }">arrow_drop_down</span>
                <span class="material-icons-outlined">workspaces</span>
                <span>Channels</span>
            </div>
            <span class="material-icons-round plus" (click)="viewService.openDialog('new-channel')">add</span>
        </h3>

        @if(showChannelEntries) {
        <div class="entries">
            <div (click)="viewService.wsNavigate('workspace/channel')" class="entry"><span>#</span>test Eintrag 1</div>
            <div class="entry"><span>#</span>test Eintrag 2</div>
        </div>
        }
    </section>
    <section class="direct-msg">
        <h3 (click)="toggleEntries('direct-msg')" class="title">
            <span class="material-icons drop-btn" [ngClass]="{
                    'turnUpDropBtn': !showDirectMsgEntries && directMsgToggleClicked,
                    'turnDownDropBtn': showDirectMsgEntries && directMsgToggleClicked
                }">arrow_drop_down</span>Direct Messages
        </h3>
        <div class="entries"></div>
    </section>
</div>