@import '../../styles/mixins.scss';

$header-height: 80px;

.toggle-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  user-select: none;
  cursor: pointer;

  left: 50px;
  top: 50vh;
  width: 300px;
  height: 80px;
  border: unset;
  border-radius: 32px 32px 0px 0px;
  transform-origin: top left;
  transform: rotate(90deg) translateX(-50%);
  background-color: white;
  box-shadow: 4px 3px 14px -5px rgb(0 0 0 / 75%);

  >span {
    transform: rotate(180deg);
    height: 32px;
    margin-top: 8px;
    @include dflex($gap: 8px);

    img {
      transform: rotate(90deg);
      height: 16px;
    }
  }

}

.wrapper {
  position: relative;
  background-color: var(--bg-color);
  width: 100vw;
  @include dflex($dir: column);
}

.header {
  box-sizing: border-box;
  padding: 16px;
  height: $header-height;
  width: 100%;
  @include dflex($gap: 16px);

  input {
    height: 100%;
    border: unset;
    border-radius: 50px;
    text-indent: 24px;
    font-size: 18px;

    &:focus-visible {
      outline: unset;
    }
  }

  .logo {
    padding-left: 24px;
    height: 40px;
    object-fit: contain;
  }

  ;

  input {}

  .user-info {
    text-align: right;
  }
}