<div class="card">
    <span (click)="emitCloseEvent()" class='material-icons close-btn'>close</span>

    <div class="fixed-header box-shadow">
        <div class="thread"> Thread</div>
        <span class="channel-name"># {{this.dataService.channelData?.channelName}}</span>
    </div>

    <div class="post">
        <div class="wrapper-profile-img">
            <img class="img" [src]="'../../assets/images/' + this.threadService.postCreatorImg()" alt="">
        </div>
        
        <div class="post-content">
            <div class="post-header">
                <div class="post-username">{{this.threadService.postCreatorName()}}</div>
                <div class="post-creation-time">{{this.threadService.timeAsString()}}</div>
            </div>
        </div>
    </div>

    <div class="post-text">
        {{this.threadService.postText()}}
    </div>
    
    
    <div class="posts" #scroll>
        <div #scrollAnchor></div>
    </div>

    <div class="message-input">
        <app-message-input (newPost)="logPost($event)"></app-message-input>
    </div>
</div>