@import '../../../styles/mixins.scss';
@import '../../../styles/post-shared';


/************************* Card *************************/
// Changing the standard card 
.card {
    position: relative;
    @include dflex($fD: column);
}

.card .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    z-index: 2;
}


/************************* Header *************************/
.fixed-header .thread {
    @include fontSizeWeight($s: 24px, $w: 700);
    padding-left: 24px;
    padding-right: 8px;
}

.fixed-header.channel-name {
    color: #797ef3
}



/************************* Post Text *************************/
.wrapper-post-text{
    width: 100%;
}

.card .post-text {
    padding: 12px;
    margin: 0 24px;
    background-color: #eceefe;
    width: fit-content;
    border-radius: 0px 24px 24px 24px;
}



.posts {
    height: 100%;
}