<div class="card">
    <span (click)="emitCloseEvent()" class='material-icons close-btn'>close</span>

    <div class="fixed-header box-shadow">
        <div class="thread">Thread</div>
        <span class="channel-name"># {{this.dataService.channelData?.channelName}}</span>
    </div>

    <app-post [post]="dataService.threadMainPost"></app-post>  
    
    <div class="seperator">
        <div class="txt">2 Antworten</div>
        <div class="line"></div>
    </div>

    <div class="posts" #scroll>
        <div #scrollAnchor></div>
        @for (dateBlock of dataService.threadData; track $index) {
        <div class="divider">
            <span class="date">{{ dateBlock.creationTime }}</span>
        </div>
        }
        <div #scrollAnchor></div>



    </div>


    <div class="message-input">
        <app-message-input (newPost)="addPost($event)"></app-message-input>
    </div>
</div>