
@import '../styles/mixins.scss';

.post {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 8px;
  width: 100%;
  margin: 8px 0px;
  padding: 8px 24px;
  box-sizing: border-box;

  .post-header {
    user-select: none;
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 24px;
  }

  .post-username {
    font-weight: 700;
    text-align: left;
  }

  .post-creation-time {
    color: grey;
  }

  .post-text {
    padding: 12px;
    background-color: #eceefe;
    margin: 0px 36px 0px 0px;
    border-radius: 0px 24px 24px 24px;
  }

  .reactions {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    min-height: 8px;

    .reaction {
      position: relative;
      display: inline-block;
      padding: 0px 12px;
      min-width: 28px;
      border: 1px solid black;
      border-radius: 50px;
    }

    span {
      cursor: pointer;
    }
  }

  .add-reaction {
    position: relative;
    border: 5px solid white;
    border-radius: 50%;
  }
}


.wrapper-profile-img {
  min-width: 40px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 50%;
}


.wrapper-profile-img .img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
