/************************* Auth Keyframes & Animations *************************/
@keyframes wholeAnimation {
  0% {
    @include centerAbsoluteElement()
  }
  
  20% {
    @include placeAbsoluteElement($top: 50%, $left: 45%);
    transform: translate(-50%, -50%);
  }
  
  70% {
    @include placeAbsoluteElement($top: 50%, $left: 45%);
    transform: translate(-50%, -50%);
  }
  
  100% {
    @include placeAbsoluteElement($top: 58px, $left: 58px);
  }
}

@keyframes wholeAnimationMobile {
  0% {
    @include centerAbsoluteElement()
  }
  
  35% {
    @include placeAbsoluteElement($top: 50%, $left: 50%);
    transform: translate(-50%, -50%);
  }
  
  
  // 70% {
  //   @include placeAbsoluteElement($top: 30%, $left: 50%);
  //   transform: translate(-50%, -50%);
  // }
  
  100% {
    @include placeAbsoluteElement($top: 58px, $left: 50%);
  }
}


.whole-animation{
  animation-name: wholeAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes textAnimation {
  0%{
    @include placeAbsoluteElement($top: 50%, $left: 0%);
    visibility: hidden;
  }
  
  20%{
    @include placeAbsoluteElement($top: 50%, $left: 0%);
    visibility: hidden;
  }

  40% {
    @include placeAbsoluteElement($top: 50%, $left: 100%);
  }
}

.text-animation{
  animation-name: textAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes hideBackgroundLayer {
  30% {
    visibility: hidden;
  }

  100%{
    visibility: hidden;
  }
}


.hide-background{
  animation-name: hideBackgroundLayer;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}


.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out
}

.fade-in-visible {
  opacity: 1;
}

/************************* RESPONSIVNESS *************************/

@media (width < 768px) {
  .whole-animation {
    animation-name: wholeAnimationMobile;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}