@import 'material-icons/iconfont/material-icons.css';
@import '../styles/mixins.scss';
@import '@ctrl/ngx-emoji-mart/picker';


:root {
  --bg-color: #eceefe;
}

/******************************** Font ********************************/
* {
  font-family: 'Nunito';
}

/*****************************Main styles ********************************/
h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  display: inline-block;
}

h3 {
  font-weight: 600;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.full-width-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: linear-gradient(180deg, rgba(119, 124, 243, 1) 30%, rgba(62, 70, 232, 1) 100%);
}

.site-bg {
  background: var(--bg-color)
}

.main {
  height: 100%;
  width: 100%;
}

.card {
  box-sizing: border-box;
  background-color: white;
  border-radius: 25px;
  border: unset;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: white;

}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);

}

/************************* Input Field Styles *************************/
.input-box {
  width: 100%;
  position: relative;
}

.input-styling {
  @include widthHeight($w: 100%, $h: 50px);
  line-height: 50px;
  border-radius: 100px;
  background-color: #ECEEFE;
  border: none;
  border: 1px solid #ECEEFE;
  padding-top: 6px;
  padding-left: 60px;
}


.input-styling:focus {
  outline: none;
}

input::placeholder {
  text-align: left;
  @include fontSizeWeight($s:18px, $w:500);
}

.input-icon {
  width: 24px;
}

.place-input-img {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

.user-warning-msg {
  @include placeAbsoluteElement($bottom: -25px, $left: 18px);
  font-size: 12px;
  color: #FF2929
}

/******************************** Button Styles ********************************/

button {
  @include removeBtnStyles();
}


.submit-btn {
  @include dflex($fD: row, $jC: center, $aI: center);
  @include roundBtn($w: 137px, $h: 50px, $b-radius: 25px, $bg-color: #444DF2);
  @include fontSizeWeightColor($s: 18px, $w: 700, $c: #FFFF);
}

.inactive-submit-btn {
  user-select: none;
  background-color: #7A7A7A;
  cursor: not-allowed;
}

/******************************** Display Styles ********************************/
.d-none {
  display: none !important
}


/************************* Max-Width wrapper *************************/
.site-wrapper {
  position: relative;
  @include dflex($jC: center);
  width: 100%;
  height: 100vh;
}


.max-width-wrapper {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
}

// ************************ Auth Styles **************************
.mobile-bubble-logo {
  display: none;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 24px;
}

.mobile-bubble-logo .txt-styling {
  @include fontSizeWeightColor($w: 700, $c: black);
  align-self: center;
}

.mobile-bubble-logo .img {
  width: 50px
}

// ************************ DaBubble Logo mobile view (login, signup) **************************




// ************************ Posts **************************

.posts {
  width: 100%;
  @include dflex($fD: column, $jC: flex-start, $gap: 28px);
  overflow-y: auto;

  .post-wrapper {
    width: 100%;
  }
  //!Delete
  border: solid red;
  //!Delete
}

// ************************ Message Input Field **************************

div.message-input {
  box-sizing: border-box;
  width: 100%;
  color: grey;
  padding: 16px;
}

// ************************ Main Content Cards **************************

.fixed-header {
  display: flex;
  align-items: center;
  min-height: 80px;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  background-color: white;
  align-content: center;
  z-index: 1;

  h2 {
    padding: 0px 40px;
  }

}

.fixed-header span:first-child {
  cursor: pointer;
  padding-left: 12px;
}

.box-shadow {
  box-shadow: 2px 9px 12px -8px #cababa;

}

//************************** Dialog Modal *****************************

.modal {
  position: absolute;
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  @include dflex($fD: row, $jC: center, $aI: center);
}

.modal-inner {
  display: flex;
  width: 100%;
  height: 95%;
  max-width: 1440px;
}

.modal-content-center {
  align-items: center;
  justify-content: center;
}

.modal-content-top-right {
  margin-top: 88px;
  margin-right: 40px;
  justify-content: flex-end;
}

@media (width <=1000px) {
  .card {
    border-radius: unset;
  }
}


//************************** Online/Offline Dot *****************************

.wrapper--avatar {
  position: relative
}


.dot {
  position: absolute;
  bottom: 0;
  right: -6px;
  @include borderStyling($border: 2.5px solid, $b-radius: 50%, $b-color: #ECEEFE);
  @include widthHeight($w: 13px, $h: 13px);
}

.dot.online {
  background-color: #92C83E;
}

.dot.offline {
  background-color: #686868;
}



/************************* Mobile Bubble logo (login, signup) *************************/
@media (width <=768px) {
  .mobile-bubble-logo {
    display: flex;
    gap: 16px;
  }
}

/************************* Responsivness *************************/




