@import 'material-icons/iconfont/material-icons.css';
@import '../styles/mixins.scss';

:root {
  --bg-color: #eceefe;
}

/******************************** Font ********************************/
* {
  font-family: 'Nunito';
}

/*****************************Main styles ********************************/

h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  display: inline-block;
}

h3 {
  font-weight: 600;
}


body {
  background-color: var(--bg-color);
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.main {
  height: 100%;
  width: 100%;

}

.card {
  box-sizing: border-box;
  padding: 24px;
  background-color: white;
  border-radius: 25px;
  border: unset;
  height: 100%;
}

/************************* Input Field Styles *************************/
.input-box {
  width: 100%;
  position: relative;
}

.input-styling {
  width: 100%;
  height: 50px;
  border-radius: 100px;
  background-color: #ECEEFE;
  border: none;
  border: 1px solid #ECEEFE;
  /* Add a border to help with rendering */
  padding-left: 80px;
}

.input-styling:focus {
  outline: none;
}

input::placeholder {
  text-align: left;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 500;
}

.input-icon {
  width: 24px;
}

.place-input-img {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

/******************************** Display Styles ********************************/
.d-none {
  display: none
}

/************************* Max-Width wrapper *************************/

.site-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #ECEEFE;
}


.max-width-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

// ************************ Posts **************************

.posts {
  padding-top: 100px;
  @include dflex($dir: column, $gap: 28px);

  .post-wrapper {
      width: 100%;
  }
}