<div class="mobile--top-icon">
    <img src="../../../assets/images/logo.png" class="img" alt="logo">
    <span class="txt">DABubble</span>
</div>


<div class="card--main">
    <div class="header-container">
        <img class="arrow-left" [routerLink]="'/main/signup'" src="../../../assets/icons/arrow_back.png" alt="">
        <header class="txt">Wähle deinen Avatar</header>
    </div>
    <div class="img--preview-container">
        @if (imgLoading) {
        <div class="loading">
            <mat-spinner mode="indeterminate"></mat-spinner>
        </div>
        } @else {
        <img src="{{ previewImg }}" class="img" alt="person-placeholder">
        }
    </div>

    <div class="username">{{userName}}</div>

    <span class="choose-from-list">Aus der Liste wählen</span>
    <div class="avatar-selection">
        @for (image of avatarImages; track $index) {
        <img (click)="setPresetAvatar(image)" class="preset-icon" src="assets/images/{{ image }}" alt="{{ image }}">
        }
    </div>
    <div class="btn--upload-container">
        <span class="txt">Eigenes Bild verwenden</span>
        <input type="file" (change)="uploadImg($event)" id="upload-input" hidden>
        <label class="label" for="upload-input">Datei hochladen</label>
    </div>
    <div class="btn--confirm" (click)="saveImgPath()">
        <span class="txt">Weiter</span>
    </div>
</div>