<div class="card">
    <header>Wähle deinen Avatar</header>
    <div class="preview-img">
        @if (imgLoading) {
        <div class="loading">
            <mat-spinner mode="indeterminate"></mat-spinner>
        </div>
        } @else {
        <img src="{{ previewImg }}" alt="person-placeholder">
        }
    </div>

    <span>Aus der Liste wählen</span>
    <div class="avatar-selection">
        @for (image of avatarImages; track $index) {
        <img (click)="setPresetAvatar(image)" class="preset-icon" src="assets/images/{{ image }}" alt="{{ image }}">
        }
    </div>
    <div class="upload-btn">
        <span>Eigenes Bild verwenden</span>
        <input type="file" (change)="uploadImg($event)" id="upload-input" hidden>
        <label class="upload-label" for="upload-input">Datei hochladen</label>
    </div>
    <div class="btn-confirm" (click)="saveImgPath()">
        Bestätigen
    </div>
</div>