@import '../../../styles/mixins.scss';

.card {
    @include dflex($dir: column, $jC: unset, $gap: 16px);
    border: solid red;
    padding: 24px;
}

header {
    @include fontSizeWeightColor($s:48px, $w:700, $c:#444DF2);
    // @include font--size-weight-color($s: 48px, $w: 700, $c: #444DF2)
}

/************************* Upload Btn *************************/
.btn--upload-container {
    margin: 12px;
}

.btn--upload-container .txt {
    padding-right: 12px;
}

.btn--upload-container .label {
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 50px;
    padding: 8px 16px;
}

.upload-btn {
    border: solid blue;
    margin: 12px;

    span {
        padding-right: 12px;
    }

    label {
        cursor: pointer;
        border: 1px solid grey;
        border-radius: 50px;
        padding: 8px 16px;
    }
}

.img--preview-container {
    @include dflex($jC: center);
    border: solid red;
}

.img--preview-container .img--preview {
    @include widthHeight($w: 168px, $h: 168px);
    border-radius: 50%;
    object-fit: cover;
}

.avatar-selection {
    @include dflex($gap: 12px)
}

.avatar-selection .preset-icon {
    @include widthHeight($w: 72px, $h: 72px);
    cursor: pointer;
    border-radius: 50%;
}


.card .username {
    @include fontSizeWeight($s:32px, $w:700);
}

.card .choose-from-list {
    align-self: flex-start;
    border: solid orange;
}

// @mixin roundBtn($width, $height, $b-radius, $bg-color, $color, $font-size, $font-weight) {

.btn--confirm {
    @include roundBtn($width: 107px, $height: 49px, $b-radius: 25px, $bg-color: #444DF2, $font-size: 18px, $font-weight: 700)
}

.btn--confirm .txt{

}