<section class="site-wrapper">

  <section class="main max-width-wrapper">

    <div class="intro-logo">
      <img src="assets/images/auth/logo.png" class="logo-da-bubble width-50px" alt="logo">
      <span class="intro-text color-black font-16px">DABubble</span>
    </div>

    <div class="sign-up-container  fade-in" [ngClass]="{'fade-in-visible': makeVisible}">

      <div class="arrow-back" [routerLink]="'../main'">
        <img src="../../../assets/icons/arrow_back.png" alt="">
      </div>

      <div class="login-header">
        <header>Konto Erstellen</header>
        <div class="create-acount-info">
          <p>Mit deinem Namen und deiner E-Mail-Adresse hast</p>
          <p>du dein neues DABubble Konto</p>
        </div>
      </div>

      <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="input-box">
          <input class="input-styling" type="text" placeholder="Name" formControlName="username" />
          <img class="place-input-img" src="../../../assets/icons/person.png" alt="">
        </div>

        <div class="input-box">
          <input class="input-styling" type="text" placeholder="Email" formControlName="email" />
          <img class="place-input-img" src="../../../assets/icons/mail.png" alt="">
        </div>

        <div class="input-box">
          <input class="input-styling" type="password" placeholder="Password" formControlName="password" />
          <img class="place-input-img" src="../../../assets/icons/lock.png" alt="">
        </div>

        <div>
          <button class="" type="submit">Sign Up</button>
        </div>

      </form>

    </div>

  </section>


</section>