<section class="site-wrapper">

  <section class="main max-width-wrapper">

    <div class="intro-logo">
      <img src="assets/images/auth/logo.png" class="logo-da-bubble width-50px" alt="logo">
      <span class="intro-text color-black font-16px">DABubble</span>
    </div>

    <section class="sign-up-container">
      <section class="login-header">
        <header>Konto Erstellen</header>
        <div class="create-acount-info">
          <p>Mit deinem Namen und deiner E-Mail-Adresse hast</p>
          <p>du dein neues DABubble Konto</p>
        </div>
      </section>
    </section>

  </section>


</section>