@import '../auth.component.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/animations.scss';
@import '../../../styles/font.scss';
@import '../login/login.component.scss';

p{
  margin: 0
}

.intro-logo{
  @include placeAbsoluteElement($top: 58px, $left: 58px);
}

/************************* Sign up container *************************/
.sign-up-container{
  position: relative;
  @include loginSignupWindow($width: 606px, $padding: 30px 80px)
}

.arrow-back{
  @include placeAbsoluteElement($top: 40px, $left: 25px);
}

.create-acount-info{
  margin: 1em 0 1em 0;
}
