@import "../../../styles/mixins.scss";

.new-channel-card {
    padding: 24px;
    @include dflex($fD: column, $aI: left);
}

.input-styling {
    padding-left: unset;
    text-indent: 24px;
}

// Bubble logout and profile option
.bubble--logout-profile {
    @include dflex($fD: column, $jC: space-evenly);
    @include widthHeight($w: 282px, $h: 120px);
    border-radius: 30px 0 30px 30px;
    background-color: #ffff;
    box-shadow: 0px 6px 10px 0px #00000033;
}

.bubble--logout-profile .txt {
    box-sizing: border-box;
    @include fontSizeWeight($s: 24px, $w: 600);
    @include dflex($fD: row, $jC: center, $aI: center);
    width: 64%;
    padding: 10px 45px;
    height: 40px;
    border-radius: 100px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        cursor: pointer;
        background-color: #eceefe;
        color: #535af1;
    }
}

// Profile Card - Profile Card Edit
// Collective classes
.cards-styling {
    @include widthHeight($w: 500px, $h: fit-content);
    @include dflex($fD: column, $jC: null);
    padding: 40px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #ffff;
    box-shadow: 0px 6px 10px 0px #00000033;

    >* {
        margin-bottom: 45px;
    }

    >*:not(img) {
        width: 100%;
    }
}

.top {
    @include dflex($fD: row, $jC: space-between, $aI: center);
}

.top .profile {
    @include fontSizeWeight($s: 24px, $w: 700);
}

.top .close-button {
    @include dflex($fD: row, $jC: center, $aI: center);
    @include widthHeight($w: 32px, $h: 32px);
    @include fontSizeWeightColor($s: 24px, $w: bold, $c: black);
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;

    &:hover {
        background-color: #eceefe;
        color: #535af1;
    }
}

.img--profile {
    @include widthHeight($w: 200px, $h: 200px);
    border-radius: 500px;
}


// Profile Card
.card--profile {
    // selecting before last child (Vorletzte child)
    > :nth-last-child(2) {
        margin-bottom: 20px;
    }

    >*:last-child {
        margin-bottom: 0
    }
}


//User name and edit pen
.card--profile .username {
    @include dflex($fD: row, $jC: space-between, $aI: center, $gap: 0px);
}

.card--profile .username .name {
    justify-self: flex-start;
    @include fontSizeWeight($s: 32px, $w: 700);
}

.card--profile .edit-pen {
    @include widthHeight($w: 40px, $h: 40px);
    @include dflex($fD: row, $jC: center, $aI: center, $gap: 0px);
    cursor: pointer;
}

.edit-pen {
    &:hover .circle {
        fill: #eceefe;
    }

    &:hover .pen {
        fill: #535af1;
    }
}

.edit-pen .circle {
    fill: #ffff;
    transition: fill 0.3s;
}

.edit-pen .pen {
    fill: #1c1b1f;
    transition: fill 0.3s;
}

//Online Active
.online-active {
    @include dflex($fD: row, $jC: flex-start, $aI: center, $gap: 16px);
}

.online-active .green-dot {
    @include widthHeight($w: 16px, $h: 16px);
    background-color: #92c83e;
    border-radius: 50%;
}

.online-active .active {
    @include fontSizeWeightColor($s: 20px, $w: 400, $c: #686868);
}

// Email Wrapper
.email-wrapper {
    @include dflex($fD: row, $jC: flex-start, $aI: center, $gap: 16px);
}

.email-wrapper .icon {
    height: 20px;
}

.email-wrapper .txt {
    @include fontSizeWeight($s: 20px, $w: 700);
}

.email-address {
    padding-left: 86px;
    @include fontSizeWeightColor($s: 18px, $w: 400, $c: #1381ff);
}


// cardProfileEdit
.card--profile-edit {
        > :nth-last-child(2) {
            margin-bottom: 32px;
        }

        > :nth-last-child(3) {
            margin-bottom: 16px;
        }
    
        >*:last-child {
            margin-bottom: 0
        }
}

.card--profile-edit .full-name{
    @include dflex($fD: row, $jC: flex-start, $aI: center, $gap: 16px);
}

.full-name .name{
    @include fontSizeWeight($s:20px, $w:700);
}

 .card--profile-edit .input-field{
    box-sizing: border-box;
    @include widthHeight($w: 100%, $h: 50px);
    @include borderStyling ($border: 1px solid, $b-radius: 100px, $b-color: #ADB0D9);
    padding-left: 40px;

    &:focus{
        outline: none;
    }
}

.card--profile-edit .wrapper--btns{
    @include dflex($fD: row, $jC: center, $aI: center, $gap: 32px);
}

.card--profile-edit .wrapper--btns .cancel{
    @include roundBtn($w:133px , $h:49px , $b-radius:50px);
    @include fontSizeWeightColor($s:18px, $w:700, $c:#444DF2);
    border: solid 1px #797EF3;
}

.card--profile-edit .wrapper--btns .save{
    @include roundBtn($w:133px , $h:49px , $b-radius:50px , $bg-color: #444DF2 ,);
    @include fontSizeWeightColor($s:18px, $w:700, $c:#FFFF);
}

