<div class="post" [class.odd]="isOdd">
    @if (!post.imgPath) {
    <div class="profile-image"></div>
    } @else {
    <div class="profile-image img">
        <img src="{{ post.imgPath }}" alt="yogi">
    </div>
    }
    <div class="post-content">
        @if (showPostMenu) {
        <span class="post-menu">POST-MENU</span>
        }
        <span class="post-header">
            <span class="post-username">{{ post.creatorId }}</span>
            <span class="post-creationTime">{{ post.creationTime }}</span>
        </span>
        <span class="post-text">{{ post.text }}</span>
        <span class="reactions">
            <div class="add-reaction">
                <span (click)="showEmojiMart = !showEmojiMart" class="material-icons-outlined add-reaction">add_reaction</span>
                @if(showEmojiMart) {
                <div class="emoji-picker">
                    <emoji-mart (emojiClick)="addReaction($event)"></emoji-mart>
                </div>
                }
            </div>
            <div class="reaction-content">
                @for (reaction of post.reactions; track $index) {
                <span class="reaction">{{ reaction.native }} <span>1</span></span>
                }
            </div>
        </span>
    </div>

</div>