@if(dataLoaded) {
<div class="post" (click)="openThread()" [class.odd]="isOdd">
    <div class="profile-image img">
        <img class="img--avatar" [src]="'../../assets/images/' + creator.photoURL" alt="">
    </div>

    <div class="post-content">
        @if (showPostMenu) {
        <span class="post-menu">
            <span class="material-icons-outlined" (click)="openThread()">insert_comment</span>
        </span>
        }

        <span class="post-header">
            <span class="post-username">{{ creator.username }}</span>
            <span class="post-creationTime">{{ timeAsString }}</span>
        </span>

        <span class="post-text">{{ post.text }}</span>

        <span class="reactions">

            <div class="add-reaction">
                <span (click)="showEmojiMart = !showEmojiMart"
                    class="material-icons-outlined add-reaction">add_reaction</span>
                @if(showEmojiMart) {
                <div class="emoji-picker">
                    <emoji-mart (emojiClick)="handleEmojiClick($event)"></emoji-mart>
                </div>
                }
            </div>

            <div class="reaction-content">
                @for (reaction of post.reactions; track idx; let idx = $index) {
                <span (click)="handleReactionClick(idx)" class="reaction">
                    <ngx-emoji [emoji]=reaction.reactionId></ngx-emoji>
                    <span>{{ reaction.users.length }}</span>
                </span>
                }
            </div>

        </span>
    </div>
</div>
}