@import '../../styles/mixins.scss';


// ******************** Post *********************

.post {
  position: relative;
  display: flex;
  gap: 8px;
  width: 100%;
  margin: 8px 0px;
  padding: 8px 24px;
  box-sizing: border-box;

  .post-menu {
    position: absolute;
    height: 24px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50px;
    padding: 0px 8px;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
  }

  .profile-image {
    min-width: 40px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 50%;
  }

  .post-header {
    user-select: none;
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 24px;
  }

  .post-username {
    font-weight: 700;
    text-align: left;
  }

  .post-creationTime {
    color: grey;
  }

  .post-text {
    padding: 12px;
    background-color: #eceefe;
    margin: 0px 36px 0px 0px;
    border-radius: 0px 24px 24px 24px;
  }

  .reactions {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    min-height: 8px;

    .reaction {
      position: relative;
      display: inline-block;
      padding: 0px 12px;
      min-width: 28px;
      border: 1px solid black;
      border-radius: 50px;
    }

    span {
      cursor: pointer;
    }
  }

  .add-reaction {
    position: relative;
    border: 5px solid white;
    border-radius: 50%;
  }

}


.odd {
  flex-direction: row-reverse;
  
  .post-menu {
    user-select: none;
    right: unset;
    left: 12px;
  }

  .post-header {
    flex-direction: row-reverse;
    justify-content: right;
  }

  .post-username {
    text-align: right;
  }

  .post-text {
    background-color: #797ef3;
    color: white;
    margin: 0px 0px 0px 36px;
    border-radius: 20px 0px 20px 20px;
  }

  .reactions {
    justify-content: flex-start;
    flex-direction: row-reverse;
  }

  .emoji-picker {
    right: 0px;
  }

}

.post-content {
  @include dflex($dir: column, $gap: 8px);
}


.post:hover {
  background-color: #eceefe;

  &:not(.odd) {
    .post-text {
      background-color: white;
    }
  }

}

.emoji-picker {
  position: absolute;
  z-index: 2;
}


// ***********************************************