@import '../../styles/mixins.scss';


$header-height: 80px;


.wrapper {
    background-color: var(--bg-color);
    @include dflex($fD: column);
    
}


.details {
    display: flex;
    gap: 16px;
    width: 100%;
}

.active-content {
    height: 100%;
}

.toggle-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    z-index: 1;
    left: 12px;
    top: 50vh;
    width: 300px;
    height: 80px;
    border: unset;
    border-radius: 32px 32px 0px 0px;
    transform-origin: top left;
    transform: rotate(90deg) translateX(-50%);
    background-color: white;
    box-shadow: 4px 3px 14px -5px rgb(0 0 0 / 75%);

    >span {
        transform: rotate(180deg);
        height: 32px;
        margin-top: 8px;
        @include dflex($gap: 8px);

        img {
            transform: rotate(90deg);
            height: 32px;
        }
    }

}


.header {
    box-sizing: border-box;
    padding: 16px;
    height: $header-height;
    width: 100%;
    @include dflex($gap: 16px);

    input {
        height: 100%;
        width: 100%;
        max-width: 600px;
        border: unset;
        border-radius: 50px;
        text-indent: 24px;
        font-size: 18px;
        background-image: url('/assets/icons/search-icon.png');
        background-position: right 16px center;
        background-size: 40px;
        background-repeat: no-repeat;

        &:focus-visible {
            outline: unset;
        }
    }

    .logo {
        padding-left: 24px;
        height: 40px;
        object-fit: contain;
    }

    .user-menu {
        @include dflex($fD: row, $jC: flex-end , $aI: center, $gap: 16px);
    }

    
    .user-menu .img--avatar{
        @include widthHeight($w: 50px, $h: 50px);
        border-radius: 50%;
    }

    .user-menu .username{
        @include fontSizeWeight($s:24px, $w:700);
    }

    .user-menu .wrapper--icons{
        @include dflex($fD: row, $jC: space-between, $aI: center, $gap: 16px);
        cursor: pointer;
    }

    > div {
        min-width: 250px;
    }

    .arrow-back {
        cursor: pointer;
    }
}

.content {
    overflow: hidden;
    box-sizing: border-box;
    padding: 0px 16px 16px 16px;
    width: 100%;
    @include dflex($aI: unset, $gap: 16px);
    height: calc(100vh - $header-height);
}

.flex-item {
    flex-grow: 1;
}

.ws-animation-wrapper{
    min-width: 320px;
    height: 100%;
}

.details-animation-wrapper {
    min-width: 360px;
    height: 100%;
}

/******************************** buttonAnimation ********************************/

.showBtn {
    animation: showBtn 0.5s forwards;

    @keyframes showBtn {
        40% {
            left: 12px;
        }
        
        100% {
            left: 50px;
        }
    }
}

.hideBtn {
    animation: hideBtn 0.5s forwards;

    @keyframes hideBtn {
        from {
            left: 50px;
        } to {
            left: 12px;
        }
    }
}

@media (width <= 1000px) {
    .ws-animation-wrapper {
        min-width: unset;
    }

    .details{
        display: unset;
        position: relative;

        .detail-section {
            position: absolute; 
            inset: 0px;
            z-index: 1;
        }
    }
}

@media (width <= 700px) {
    .content {
        position: relative;
        padding: unset;
    }

    .details {
        position: absolute;
        inset: 0;
    }

}
