@if(viewService.showModal) {
<div [ngClass]="'modal'" (click)="viewService.showModal = false">
    <div class="modal-inner" [ngClass]="viewService.modalContentClass">
        <div>
            <app-dialog (click)="$event.stopPropagation()"></app-dialog>
        </div>
    </div>
</div>
}

<div class="wrapper">
    @if (!viewService.mobileView) {
    <span appShowOnHover (click)="viewService.showWorkspaceMenu = !viewService.showWorkspaceMenu" class="toggle-btn">
        @switch(viewService.showWorkspaceMenu) {
        @case (false) {
        <span>Workspace-Menü öffnen<img src="assets/icons/open_menu.png" alt="openMenuIcon"></span>
        }
        @default {
        <span>Workspace-Menü schließen<img src="assets/icons/close_menu.png" alt="closeMenuIcon"></span>
        }
        }
    </span>
    }

    <section class="header">
        @if (viewService.mobileView && !viewService.showLogo) {
        <span [routerLink]="'workspace'"
            class="material-icons-round arrow-back">arrow_back_ios</span>
        <span>WS-LOGO</span>
        }
        @else {
        <div class="logo-div">
            <img class="logo" src="assets/images/Logo-DABubble.png" alt="Logo_DABubble">
        </div>
        }

        @if(!viewService.mobileView) {
        <input placeholder="Devspace durchsuchen" class="flex-item" type="text">
        }

        <div class="user-menu">
            @if(!viewService.mobileView) {
            <span class="username">{{userName}}</span>
            }
            <div class="wrapper--icons" (click)="viewService.modalHandler('logout', 'modal-content-top-right')">
                <div class="wrapper--avatar">
                    <img class="img--avatar" [src]="'../../' + avatarPath" alt="">
                    <div class="dot online"></div>
                </div>
                <img class="arrow-down" src="../../assets/images/keyboard_arrow_down.png" alt="">
            </div>
        </div>
    </section>

    <section class="content">
        <section class="workspace-section" [@toggleWorkspace]="viewService.showWorkspaceMenu ? 'open' : 'closed'">
            <div class="ws-animation-wrapper">
                <app-workspace></app-workspace>
            </div>
        </section>
        @if(viewService.showDetailSection) {
        <section class="details">
            <section class="active-content flex-item">
                <router-outlet></router-outlet>
            </section>
            <section class="detail-section" [@toggleThread]="this.viewService.showThreadSection ? 'open' : 'closed'">
                <div class="details-animation-wrapper">
                    <app-thread (closeThread)="closeThreadSection($event)"></app-thread>
                </div>
            </section>
        </section>
        }
    </section>
</div>