@if(dialogService.showDialog) {
<div class="modal">
    <app-dialog></app-dialog>
</div>
}
<div class="wrapper">
    <span appShowOnHover (click)="showWorkspaceMenu = !showWorkspaceMenu" class="toggle-btn">
        @switch(showWorkspaceMenu) {
        @case (false) {
        <span>Workspace-Menü öffnen<img src="assets/icons/open_menu.png" alt="openMenuIcon"></span>
        }
        @default {
        <span>Workspace-Menü schließen<img src="assets/icons/close_menu.png" alt="closeMenuIcon"></span>
        }
        }
    </span>

    <section class="header">
        <div class="logo-div">
            <img class="logo" src="assets/images/Logo-DABubble.png" alt="Logo_DABubble">
        </div>
        <input placeholder="Devspace durchsuchen" class="flex-item" type="text">
        <div class="user-info">UserInfo</div>
    </section>
    <section class="content">
        <section class="workspace-section" [@toggleWorkspace]="showWorkspaceMenu ? 'open' : 'closed'">
            <div class="ws-animation-wrapper">
                <app-workspace></app-workspace>
            </div>
        </section>
        <section class="channel-section flex-item">
            <app-channel></app-channel>
        </section>
        <section class="thread-section" [@toggleThread]="showThreadSection ? 'open' : 'closed'">
            <div class="thread-animation-wrapper">
                <app-thread (closeThread)="closeThreadSection($event)"></app-thread>
            </div>
        </section>
    </section>
</div>