@import '../../styles/mixins.scss';

$header-height: 80px;

.wrapper {
    // background-color: green; //helper
    width: 100vw;
    @include dflex($dir: column);
}

.header {
    box-sizing: border-box;
    padding: 0px 16px;
    height: $header-height;
    width: 100%;
    @include dflex($gap: 16px);


    .user-info {
        text-align: right;
    }
}

.content {
    box-sizing: border-box;
    padding: 0px 16px 16px 16px;
    width: 100%;
    // background-color: red; //helper
    @include dflex($aI: unset, $gap: 16px);
    height: calc(100vh - $header-height)
}

.flex-item1,
.flex-item2 {
    flex-basis: 0;
}

.flex-item1 {
    // background-color: yellow; //helper
    flex-grow: 1;
}

.flex-item2 {
    // background-color: orange; // helper
    flex-grow: 2;
}