<div class="wrapper">
    <section class="header">
            <div class="logo-div flex-item1">
                <img class="flex-item1 logo" src="assets/images/Logo-DABubble.png" alt="Logo_DABubble">
            </div>
            <input placeholder="Devspace durchsuchen" class="flex-item2" type="text">
            <div class="flex-item1 user-info">UserInfo</div>
    </section>
    <section class="content">
        <article class="flex-item1">
            <app-channel-section></app-channel-section>
        </article>
        <article class="flex-item2">
            <app-channel></app-channel>
        </article>
        <article class="flex-item1">
            <app-thread></app-thread>
        </article>
    </section>
</div>