<div class="card--new-channel cards-styling">
    <div class="top">
        <h2 class="profile">Channel Erstellen</h2>
        <div class="close-button" (click)=dialogRef.close()>
           x 
        </div>
    </div>

    <span class="info-txt">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein (z.B.
        #marketing)
    </span>

    <form action="submit" class="form-styling" [formGroup]=newChannelFormGroup #newChannelForm="ngForm"
        (submit)="newChannelSubmit()">
        <div class="input-block">
            <label for="channelName">Channel-Name: </label>
            <input class="input-styling" id="channelName" type="text" formControlName="channelNameInput">
        </div>

        <div class="input-block">
            <label for="channelDescription">Beschreibung <span class="optional">(optional)</span></label>
            <input class="input-styling" id="channelDescription" type="text" formControlName="channelDescInput">
        </div>

        <button [disabled]="newChannelFormGroup.invalid" class="submit-btn"
            [class.inactive-submit-btn]="newChannelForm.invalid">Erstellen</button>
    </form>
</div>