<section class="imprint-container">


  <div class="arrow-back" [routerLink]="'/main/login'" (click)="validation.hideAllErrorMsgs()">
    <img src="../../../assets/icons/arrow_back.png" alt="">
  </div>

  <h1>Impressum</h1>

  <div class="infos-block">
    <h2>Angaben gemäß § 5 TMG</h2>
    <div class="infos-block__details">
      <span>Ingo Hermsen</span>
    </div>
  </div>

  <div class="infos-block">
    <h2>Postanschrift</h2>
    <div class="infos-block__details">
      <span>Filderstraße 5</span>
      <span>47665 Sonsbeck</span>
    </div>
  </div>

  <div class="infos-block">
    <h2>Kontakt</h2>
    <div class="infos-block__details">
      <span>E-Mail: contact&#64;ingo-hermsen.de</span>
      <span>47665 Sonsbeck</span>
    </div>
  </div>


</section>