<section class="imprint-container">

  <h1>Impressum</h1>

  <div class="infos-block">
    <h2>Angaben gemäß § 5 TMG</h2>
    <div class="infos-block__details">
      <span>Peter Ediger</span>
    </div>
  </div>

  <div class="infos-block">
    <h2>Postanschrift</h2>
    <div class="infos-block__details">
      <span>Marnitzstraße 20b</span>
      <span>21033 Hamburg</span>
    </div>
  </div>

  <div class="infos-block">
    <h2>Kontakt</h2>
    <div class="infos-block__details">
      <span>E-Mail: info&#64;peter-ediger.de</span>
      <span>21033 Hamburg</span>
    </div>
  </div>


</section>