@import '../../auth/auth-animation/auth-animation.component.scss';
@import '../../../styles/animations.scss';
@import '../../../styles/mixins.scss';



* {
  box-sizing: border-box;
}

.intro-logo {
  @include placeAbsoluteElement($top: 58px, $left: 58px);
}

.width-height-100prct {
  @include widthHeight($w: 100%, $h: 100%);
  // @include width-height($w: 100%, $h: 100%);
  position: relative;
  border: solid red;
}

/************************* RESPONSIVNESS *************************/
@media (width <=768px) {
  .intro-logo {
    display: none;
  }

  .new-at-dabubble {
    display: none;
  }

  .create-account {
    display: none;
  }
}

@media (width <=470px) {}