<section class="site-wrapper">

    <div class="new-at-dabubble" [class.d-none]="hideElement">Neu bei DABubble?</div>

    <div class="create-account" [class.d-none]="hideElement" [routerLink]="'../signup'"
      (click)="validation.hideAllErrorMsgs()" (click)="authService.resetErrors()">
      Konto erstellen
    </div>

    <div class="intro-logo">
      <img src="assets/images/auth/logo.png" class="logo-da-bubble width-50px" alt="logo">
      <span class="intro-text color-black font-16px">DABubble</span>
    </div>


    <router-outlet></router-outlet>

</section>