<section class="site-wrapper">

  <section class="main max-width-wrapper">
    <div class="new-at-dabubble" [ngClass]="{'d-none' : hideElement}">Neu bei DABubble?</div>

    <div class="create-account"  [ngClass]="{'d-none' : hideElement}" [routerLink]="'signup'">
      Konto erstellen
    </div>

    <div class="intro-logo">
      <img src="assets/images/auth/logo.png" class="logo-da-bubble width-50px" alt="logo">
      <span class="intro-text color-black font-16px">DABubble</span>
    </div>


    <router-outlet></router-outlet>
  </section>

</section>