@import "../../../../styles/mixins.scss";

h1{
  
  margin: 50px;
}


button{
  @include roundBtn($w: 150px, $h: 50px, $b-radius: 25px, $bg-color: #94c2db,);
  box-sizing: border-box;
  margin: 50px;
}
